/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background: #F4F4F4;
}
.app-root-section{
    background: #F4F4F4;
}
.no-padding-margin {
    padding: 0 !important;
    margin: 0 !important;
 }