/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../icomoon-resource/style.css';

body{
    background: #F4F4F4;
}
app-header-section{
    background: #144484;
}

.white-box-panel{
    background: #FFFFFF;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(199,199,199,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(199,199,199,1);
    box-shadow: 1px 1px 5px 0px rgba(199,199,199,1);
}

.margin-bottom-5x {
    margin-bottom: 5px;
}

.color-blue{
    color: #0679B3;
}

.common-title{
    color: #0679B3;
}

.app-root-section{
    background: #F4F4F4;
}
.no-padding-margin {
    padding: 0 !important;
    margin: 0 !important;
 }


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #144484 !important;
}

.hotel-summary-view{
    .white-box-panel{
        max-height: 200px;
    }
    .img-responsive {
        display: block;
        width: auto;
        //max-height: 100%;
        max-height: 189px;
    }
}